.container {
  display: flex;
  align-items: start;
  justify-content: space-between;

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      margin-left: 0;
      margin-bottom: 10px;
    }
  }
}
