.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p {
    text-align: center;
    margin-bottom: 20px;
  }
}
