:root {
  --c-primary: black;
  --c-text: #161616;
  --fade: 120ms;
  --font-Family-Title: Inter;
  --background-color: #f2f4f3;
}

.theme-dark {
  --c-primary: white;
  --c-text: #f2f4f3;
  --background-color: #161616;
}
